/* App.css (or any other CSS file you import in your React component) */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffe4a3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 22px;
}

h3 {
  color: #007bff;
  margin-bottom: 15px;
  font-size: 16px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
}

p {
  color: #777;
  margin-bottom: 15px;
  font-size: 14px;
}

.electric-field {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.direction {
  font-weight: bold;
  color: #007bff;
  font-size: 16px;
}

.result {
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  body {
  padding: 15px;
  }
  .container {
    padding: 15px;
  }
  input,
  button {
    width: 100%;
    margin-bottom: 15px;
  }
}
